# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# Temporary files
*.tmp
*.temp

# Other files to ignore
package-lock.json
yarn.lock